%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

%nav-styling {
  margin: 0;
  z-index: 5;
}

.navbar-x {
  //@extend %flex-layout;
  @extend %nav-styling;
  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box-shadow;
  overflow: hidden;
  .left {

  }

  .site-title {
    font-size: $font-size-lg;
  }

  .container {
    @extend %flex-layout;
  }

  .navbar-x-item {
    padding: 2vw 1vh;
    &:hover {
      background-color: lightgray;
      //background-color: map-get($colors, "lightblue");
      //box-shadow: 0 0 20px 10px map-get($colors, "lightblue");
    }
  }


  //.sticky {
  //  position: -webkit-sticky;
  //  position: sticky;
  //  top: 0;
  //}
}

.navbar-y {
  @extend %nav-styling;
  padding: $base-padding;
  width: $sidenav-width;
  height: 100%;
  background-color: yellow;
  display: block;

  .navbar-y-item {
    padding: 0;
    &:hover {
      background-color: lightgray;
      //background-color: map-get($colors, "lightblue");
      //box-shadow: 0 0 10px 10px map-get($colors, "lightblue");
    }
  }
}

.navbox {

}

@each $key, $val in $colors {
  .navbar-x-#{$key} {
    @extend .navbar-x;
    background-color: $val;
  }
  .navbar-y-#{$key} {
    @extend .navbar-y;
    background-color: $val;
  }
  .navbox-#{$key} {
    @extend .navbox;
    background-color: $val;
  }
}
