nav {
  display: block;
  height: 40px;
  border-bottom: black solid 2px;
  background-color: white;


  .nav-item {
    color: purple;
    border-right: black solid 2px;
    margin: 2rem;
  }

  a {
    font-size: 25px;
  }
}
