.side-bar {
  height: 100%;
  width: 7em;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: $nav-bar-height;
  overflow-x: hidden;
  background-color: yellow;
  a {
    padding: .5em .5em .5em 2em;
    text-decoration: none;
    display: block;
  }
}

// so with js optionally I could get the next element after the sidenav and add a class that makes the margins the same as the sidenav width
// rn it does not properly margin the same as the navbar height and its in front.  id like the option for sliding in and out
// if I can make a basic command or switch out for which styling is used that would be fantastic
// maybe set the border radius, height, etc of components as well as images and items
// I want one import for all themes
