* {
  color: inherit;
  margin: 0;
}

body {
  margin-top: 2em;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  paddign: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-lightblue {
  color: #0abdc6;
}

.text-hover-lightblue:hover {
  color: #0abdc6;
}

.bg-lightblue {
  background-color: #0abdc6;
}

.text-lightblue-light-1 {
  color: #23c4cc;
}

.text-hover-lightblue-light-1:hover {
  color: #23c4cc;
}

.bg-lightblue-light-1 {
  background-color: #23c4cc;
}

.text-lightblue-light-2 {
  color: #3bcad1;
}

.text-hover-lightblue-light-2:hover {
  color: #3bcad1;
}

.bg-lightblue-light-2 {
  background-color: #3bcad1;
}

.text-lightblue-light-3 {
  color: #54d1d7;
}

.text-hover-lightblue-light-3:hover {
  color: #54d1d7;
}

.bg-lightblue-light-3 {
  background-color: #54d1d7;
}

.text-lightblue-light-4 {
  color: #6cd7dd;
}

.text-hover-lightblue-light-4:hover {
  color: #6cd7dd;
}

.bg-lightblue-light-4 {
  background-color: #6cd7dd;
}

.text-lightblue-light-5 {
  color: #85dee3;
}

.text-hover-lightblue-light-5:hover {
  color: #85dee3;
}

.bg-lightblue-light-5 {
  background-color: #85dee3;
}

.text-lightblue-light-6 {
  color: #9de5e8;
}

.text-hover-lightblue-light-6:hover {
  color: #9de5e8;
}

.bg-lightblue-light-6 {
  background-color: #9de5e8;
}

.text-lightblue-light-7 {
  color: #b6ebee;
}

.text-hover-lightblue-light-7:hover {
  color: #b6ebee;
}

.bg-lightblue-light-7 {
  background-color: #b6ebee;
}

.text-lightblue-light-8 {
  color: #cef2f4;
}

.text-hover-lightblue-light-8:hover {
  color: #cef2f4;
}

.bg-lightblue-light-8 {
  background-color: #cef2f4;
}

.text-lightblue-light-9 {
  color: #e7f8f9;
}

.text-hover-lightblue-light-9:hover {
  color: #e7f8f9;
}

.bg-lightblue-light-9 {
  background-color: #e7f8f9;
}

.text-lightblue-dark-1 {
  color: #09aab2;
}

.text-hover-lightblue-dark-1:hover {
  color: #09aab2;
}

.bg-lightblue-dark-1 {
  background-color: #09aab2;
}

.text-lightblue-dark-2 {
  color: #08979e;
}

.text-hover-lightblue-dark-2:hover {
  color: #08979e;
}

.bg-lightblue-dark-2 {
  background-color: #08979e;
}

.text-lightblue-dark-3 {
  color: #07848b;
}

.text-hover-lightblue-dark-3:hover {
  color: #07848b;
}

.bg-lightblue-dark-3 {
  background-color: #07848b;
}

.text-lightblue-dark-4 {
  color: #067177;
}

.text-hover-lightblue-dark-4:hover {
  color: #067177;
}

.bg-lightblue-dark-4 {
  background-color: #067177;
}

.text-lightblue-dark-5 {
  color: #055f63;
}

.text-hover-lightblue-dark-5:hover {
  color: #055f63;
}

.bg-lightblue-dark-5 {
  background-color: #055f63;
}

.text-lightblue-dark-6 {
  color: #044c4f;
}

.text-hover-lightblue-dark-6:hover {
  color: #044c4f;
}

.bg-lightblue-dark-6 {
  background-color: #044c4f;
}

.text-lightblue-dark-7 {
  color: #03393b;
}

.text-hover-lightblue-dark-7:hover {
  color: #03393b;
}

.bg-lightblue-dark-7 {
  background-color: #03393b;
}

.text-lightblue-dark-8 {
  color: #022628;
}

.text-hover-lightblue-dark-8:hover {
  color: #022628;
}

.bg-lightblue-dark-8 {
  background-color: #022628;
}

.text-lightblue-dark-9 {
  color: #011314;
}

.text-hover-lightblue-dark-9:hover {
  color: #011314;
}

.bg-lightblue-dark-9 {
  background-color: #011314;
}

.text-purple {
  color: #711c91;
}

.text-hover-purple:hover {
  color: #711c91;
}

.bg-purple {
  background-color: #711c91;
}

.text-purple-light-1 {
  color: #7f339c;
}

.text-hover-purple-light-1:hover {
  color: #7f339c;
}

.bg-purple-light-1 {
  background-color: #7f339c;
}

.text-purple-light-2 {
  color: #8d49a7;
}

.text-hover-purple-light-2:hover {
  color: #8d49a7;
}

.bg-purple-light-2 {
  background-color: #8d49a7;
}

.text-purple-light-3 {
  color: #9c60b2;
}

.text-hover-purple-light-3:hover {
  color: #9c60b2;
}

.bg-purple-light-3 {
  background-color: #9c60b2;
}

.text-purple-light-4 {
  color: #aa77bd;
}

.text-hover-purple-light-4:hover {
  color: #aa77bd;
}

.bg-purple-light-4 {
  background-color: #aa77bd;
}

.text-purple-light-5 {
  color: #b88ec8;
}

.text-hover-purple-light-5:hover {
  color: #b88ec8;
}

.bg-purple-light-5 {
  background-color: #b88ec8;
}

.text-purple-light-6 {
  color: #c6a4d3;
}

.text-hover-purple-light-6:hover {
  color: #c6a4d3;
}

.bg-purple-light-6 {
  background-color: #c6a4d3;
}

.text-purple-light-7 {
  color: #d4bbde;
}

.text-hover-purple-light-7:hover {
  color: #d4bbde;
}

.bg-purple-light-7 {
  background-color: #d4bbde;
}

.text-purple-light-8 {
  color: #e3d2e9;
}

.text-hover-purple-light-8:hover {
  color: #e3d2e9;
}

.bg-purple-light-8 {
  background-color: #e3d2e9;
}

.text-purple-light-9 {
  color: #f1e8f4;
}

.text-hover-purple-light-9:hover {
  color: #f1e8f4;
}

.bg-purple-light-9 {
  background-color: #f1e8f4;
}

.text-purple-dark-1 {
  color: #661983;
}

.text-hover-purple-dark-1:hover {
  color: #661983;
}

.bg-purple-dark-1 {
  background-color: #661983;
}

.text-purple-dark-2 {
  color: #5a1674;
}

.text-hover-purple-dark-2:hover {
  color: #5a1674;
}

.bg-purple-dark-2 {
  background-color: #5a1674;
}

.text-purple-dark-3 {
  color: #4f1466;
}

.text-hover-purple-dark-3:hover {
  color: #4f1466;
}

.bg-purple-dark-3 {
  background-color: #4f1466;
}

.text-purple-dark-4 {
  color: #441157;
}

.text-hover-purple-dark-4:hover {
  color: #441157;
}

.bg-purple-dark-4 {
  background-color: #441157;
}

.text-purple-dark-5 {
  color: #390e49;
}

.text-hover-purple-dark-5:hover {
  color: #390e49;
}

.bg-purple-dark-5 {
  background-color: #390e49;
}

.text-purple-dark-6 {
  color: #2d0b3a;
}

.text-hover-purple-dark-6:hover {
  color: #2d0b3a;
}

.bg-purple-dark-6 {
  background-color: #2d0b3a;
}

.text-purple-dark-7 {
  color: #22082c;
}

.text-hover-purple-dark-7:hover {
  color: #22082c;
}

.bg-purple-dark-7 {
  background-color: #22082c;
}

.text-purple-dark-8 {
  color: #17061d;
}

.text-hover-purple-dark-8:hover {
  color: #17061d;
}

.bg-purple-dark-8 {
  background-color: #17061d;
}

.text-purple-dark-9 {
  color: #0b030f;
}

.text-hover-purple-dark-9:hover {
  color: #0b030f;
}

.bg-purple-dark-9 {
  background-color: #0b030f;
}

.text-pink {
  color: #ea00d9;
}

.text-hover-pink:hover {
  color: #ea00d9;
}

.bg-pink {
  background-color: #ea00d9;
}

.text-pink-light-1 {
  color: #ec1add;
}

.text-hover-pink-light-1:hover {
  color: #ec1add;
}

.bg-pink-light-1 {
  background-color: #ec1add;
}

.text-pink-light-2 {
  color: #ee33e1;
}

.text-hover-pink-light-2:hover {
  color: #ee33e1;
}

.bg-pink-light-2 {
  background-color: #ee33e1;
}

.text-pink-light-3 {
  color: #f04de4;
}

.text-hover-pink-light-3:hover {
  color: #f04de4;
}

.bg-pink-light-3 {
  background-color: #f04de4;
}

.text-pink-light-4 {
  color: #f266e8;
}

.text-hover-pink-light-4:hover {
  color: #f266e8;
}

.bg-pink-light-4 {
  background-color: #f266e8;
}

.text-pink-light-5 {
  color: #f580ec;
}

.text-hover-pink-light-5:hover {
  color: #f580ec;
}

.bg-pink-light-5 {
  background-color: #f580ec;
}

.text-pink-light-6 {
  color: #f799f0;
}

.text-hover-pink-light-6:hover {
  color: #f799f0;
}

.bg-pink-light-6 {
  background-color: #f799f0;
}

.text-pink-light-7 {
  color: #f9b3f4;
}

.text-hover-pink-light-7:hover {
  color: #f9b3f4;
}

.bg-pink-light-7 {
  background-color: #f9b3f4;
}

.text-pink-light-8 {
  color: #fbccf7;
}

.text-hover-pink-light-8:hover {
  color: #fbccf7;
}

.bg-pink-light-8 {
  background-color: #fbccf7;
}

.text-pink-light-9 {
  color: #fde6fb;
}

.text-hover-pink-light-9:hover {
  color: #fde6fb;
}

.bg-pink-light-9 {
  background-color: #fde6fb;
}

.text-pink-dark-1 {
  color: #d300c3;
}

.text-hover-pink-dark-1:hover {
  color: #d300c3;
}

.bg-pink-dark-1 {
  background-color: #d300c3;
}

.text-pink-dark-2 {
  color: #bb00ae;
}

.text-hover-pink-dark-2:hover {
  color: #bb00ae;
}

.bg-pink-dark-2 {
  background-color: #bb00ae;
}

.text-pink-dark-3 {
  color: #a40098;
}

.text-hover-pink-dark-3:hover {
  color: #a40098;
}

.bg-pink-dark-3 {
  background-color: #a40098;
}

.text-pink-dark-4 {
  color: #8c0082;
}

.text-hover-pink-dark-4:hover {
  color: #8c0082;
}

.bg-pink-dark-4 {
  background-color: #8c0082;
}

.text-pink-dark-5 {
  color: #75006d;
}

.text-hover-pink-dark-5:hover {
  color: #75006d;
}

.bg-pink-dark-5 {
  background-color: #75006d;
}

.text-pink-dark-6 {
  color: #5e0057;
}

.text-hover-pink-dark-6:hover {
  color: #5e0057;
}

.bg-pink-dark-6 {
  background-color: #5e0057;
}

.text-pink-dark-7 {
  color: #460041;
}

.text-hover-pink-dark-7:hover {
  color: #460041;
}

.bg-pink-dark-7 {
  background-color: #460041;
}

.text-pink-dark-8 {
  color: #2f002b;
}

.text-hover-pink-dark-8:hover {
  color: #2f002b;
}

.bg-pink-dark-8 {
  background-color: #2f002b;
}

.text-pink-dark-9 {
  color: #170016;
}

.text-hover-pink-dark-9:hover {
  color: #170016;
}

.bg-pink-dark-9 {
  background-color: #170016;
}

.text-blue {
  color: #133e7c;
}

.text-hover-blue:hover {
  color: #133e7c;
}

.bg-blue {
  background-color: #133e7c;
}

.text-blue-light-1 {
  color: #2b5189;
}

.text-hover-blue-light-1:hover {
  color: #2b5189;
}

.bg-blue-light-1 {
  background-color: #2b5189;
}

.text-blue-light-2 {
  color: #426596;
}

.text-hover-blue-light-2:hover {
  color: #426596;
}

.bg-blue-light-2 {
  background-color: #426596;
}

.text-blue-light-3 {
  color: #5a78a3;
}

.text-hover-blue-light-3:hover {
  color: #5a78a3;
}

.bg-blue-light-3 {
  background-color: #5a78a3;
}

.text-blue-light-4 {
  color: #718bb0;
}

.text-hover-blue-light-4:hover {
  color: #718bb0;
}

.bg-blue-light-4 {
  background-color: #718bb0;
}

.text-blue-light-5 {
  color: #899fbe;
}

.text-hover-blue-light-5:hover {
  color: #899fbe;
}

.bg-blue-light-5 {
  background-color: #899fbe;
}

.text-blue-light-6 {
  color: #a1b2cb;
}

.text-hover-blue-light-6:hover {
  color: #a1b2cb;
}

.bg-blue-light-6 {
  background-color: #a1b2cb;
}

.text-blue-light-7 {
  color: #b8c5d8;
}

.text-hover-blue-light-7:hover {
  color: #b8c5d8;
}

.bg-blue-light-7 {
  background-color: #b8c5d8;
}

.text-blue-light-8 {
  color: #d0d8e5;
}

.text-hover-blue-light-8:hover {
  color: #d0d8e5;
}

.bg-blue-light-8 {
  background-color: #d0d8e5;
}

.text-blue-light-9 {
  color: #e7ecf2;
}

.text-hover-blue-light-9:hover {
  color: #e7ecf2;
}

.bg-blue-light-9 {
  background-color: #e7ecf2;
}

.text-blue-dark-1 {
  color: #113870;
}

.text-hover-blue-dark-1:hover {
  color: #113870;
}

.bg-blue-dark-1 {
  background-color: #113870;
}

.text-blue-dark-2 {
  color: #0f3263;
}

.text-hover-blue-dark-2:hover {
  color: #0f3263;
}

.bg-blue-dark-2 {
  background-color: #0f3263;
}

.text-blue-dark-3 {
  color: #0d2b57;
}

.text-hover-blue-dark-3:hover {
  color: #0d2b57;
}

.bg-blue-dark-3 {
  background-color: #0d2b57;
}

.text-blue-dark-4 {
  color: #0b254a;
}

.text-hover-blue-dark-4:hover {
  color: #0b254a;
}

.bg-blue-dark-4 {
  background-color: #0b254a;
}

.text-blue-dark-5 {
  color: #0a1f3e;
}

.text-hover-blue-dark-5:hover {
  color: #0a1f3e;
}

.bg-blue-dark-5 {
  background-color: #0a1f3e;
}

.text-blue-dark-6 {
  color: #081932;
}

.text-hover-blue-dark-6:hover {
  color: #081932;
}

.bg-blue-dark-6 {
  background-color: #081932;
}

.text-blue-dark-7 {
  color: #061325;
}

.text-hover-blue-dark-7:hover {
  color: #061325;
}

.bg-blue-dark-7 {
  background-color: #061325;
}

.text-blue-dark-8 {
  color: #040c19;
}

.text-hover-blue-dark-8:hover {
  color: #040c19;
}

.bg-blue-dark-8 {
  background-color: #040c19;
}

.text-blue-dark-9 {
  color: #02060c;
}

.text-hover-blue-dark-9:hover {
  color: #02060c;
}

.bg-blue-dark-9 {
  background-color: #02060c;
}

.text-navy {
  color: #091833;
}

.text-hover-navy:hover {
  color: #091833;
}

.bg-navy {
  background-color: #091833;
}

.text-navy-light-1 {
  color: #222f47;
}

.text-hover-navy-light-1:hover {
  color: #222f47;
}

.bg-navy-light-1 {
  background-color: #222f47;
}

.text-navy-light-2 {
  color: #3a465c;
}

.text-hover-navy-light-2:hover {
  color: #3a465c;
}

.bg-navy-light-2 {
  background-color: #3a465c;
}

.text-navy-light-3 {
  color: #535d70;
}

.text-hover-navy-light-3:hover {
  color: #535d70;
}

.bg-navy-light-3 {
  background-color: #535d70;
}

.text-navy-light-4 {
  color: #6b7485;
}

.text-hover-navy-light-4:hover {
  color: #6b7485;
}

.bg-navy-light-4 {
  background-color: #6b7485;
}

.text-navy-light-5 {
  color: #848c99;
}

.text-hover-navy-light-5:hover {
  color: #848c99;
}

.bg-navy-light-5 {
  background-color: #848c99;
}

.text-navy-light-6 {
  color: #9da3ad;
}

.text-hover-navy-light-6:hover {
  color: #9da3ad;
}

.bg-navy-light-6 {
  background-color: #9da3ad;
}

.text-navy-light-7 {
  color: #b5bac2;
}

.text-hover-navy-light-7:hover {
  color: #b5bac2;
}

.bg-navy-light-7 {
  background-color: #b5bac2;
}

.text-navy-light-8 {
  color: #ced1d6;
}

.text-hover-navy-light-8:hover {
  color: #ced1d6;
}

.bg-navy-light-8 {
  background-color: #ced1d6;
}

.text-navy-light-9 {
  color: #e6e8eb;
}

.text-hover-navy-light-9:hover {
  color: #e6e8eb;
}

.bg-navy-light-9 {
  background-color: #e6e8eb;
}

.text-navy-dark-1 {
  color: #08162e;
}

.text-hover-navy-dark-1:hover {
  color: #08162e;
}

.bg-navy-dark-1 {
  background-color: #08162e;
}

.text-navy-dark-2 {
  color: #071329;
}

.text-hover-navy-dark-2:hover {
  color: #071329;
}

.bg-navy-dark-2 {
  background-color: #071329;
}

.text-navy-dark-3 {
  color: #061124;
}

.text-hover-navy-dark-3:hover {
  color: #061124;
}

.bg-navy-dark-3 {
  background-color: #061124;
}

.text-navy-dark-4 {
  color: #050e1f;
}

.text-hover-navy-dark-4:hover {
  color: #050e1f;
}

.bg-navy-dark-4 {
  background-color: #050e1f;
}

.text-navy-dark-5 {
  color: #050c1a;
}

.text-hover-navy-dark-5:hover {
  color: #050c1a;
}

.bg-navy-dark-5 {
  background-color: #050c1a;
}

.text-navy-dark-6 {
  color: #040a14;
}

.text-hover-navy-dark-6:hover {
  color: #040a14;
}

.bg-navy-dark-6 {
  background-color: #040a14;
}

.text-navy-dark-7 {
  color: #03070f;
}

.text-hover-navy-dark-7:hover {
  color: #03070f;
}

.bg-navy-dark-7 {
  background-color: #03070f;
}

.text-navy-dark-8 {
  color: #02050a;
}

.text-hover-navy-dark-8:hover {
  color: #02050a;
}

.bg-navy-dark-8 {
  background-color: #02050a;
}

.text-navy-dark-9 {
  color: #010205;
}

.text-hover-navy-dark-9:hover {
  color: #010205;
}

.bg-navy-dark-9 {
  background-color: #010205;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-red {
  color: #ff321a;
}

.text-hover-red:hover {
  color: #ff321a;
}

.bg-red {
  background-color: #ff321a;
}

.text-red-light-1 {
  color: #ff4731;
}

.text-hover-red-light-1:hover {
  color: #ff4731;
}

.bg-red-light-1 {
  background-color: #ff4731;
}

.text-red-light-2 {
  color: #ff5b48;
}

.text-hover-red-light-2:hover {
  color: #ff5b48;
}

.bg-red-light-2 {
  background-color: #ff5b48;
}

.text-red-light-3 {
  color: #ff705f;
}

.text-hover-red-light-3:hover {
  color: #ff705f;
}

.bg-red-light-3 {
  background-color: #ff705f;
}

.text-red-light-4 {
  color: #ff8476;
}

.text-hover-red-light-4:hover {
  color: #ff8476;
}

.bg-red-light-4 {
  background-color: #ff8476;
}

.text-red-light-5 {
  color: #ff998d;
}

.text-hover-red-light-5:hover {
  color: #ff998d;
}

.bg-red-light-5 {
  background-color: #ff998d;
}

.text-red-light-6 {
  color: #ffada3;
}

.text-hover-red-light-6:hover {
  color: #ffada3;
}

.bg-red-light-6 {
  background-color: #ffada3;
}

.text-red-light-7 {
  color: #ffc2ba;
}

.text-hover-red-light-7:hover {
  color: #ffc2ba;
}

.bg-red-light-7 {
  background-color: #ffc2ba;
}

.text-red-light-8 {
  color: #ffd6d1;
}

.text-hover-red-light-8:hover {
  color: #ffd6d1;
}

.bg-red-light-8 {
  background-color: #ffd6d1;
}

.text-red-light-9 {
  color: #ffebe8;
}

.text-hover-red-light-9:hover {
  color: #ffebe8;
}

.bg-red-light-9 {
  background-color: #ffebe8;
}

.text-red-dark-1 {
  color: #e62d17;
}

.text-hover-red-dark-1:hover {
  color: #e62d17;
}

.bg-red-dark-1 {
  background-color: #e62d17;
}

.text-red-dark-2 {
  color: #cc2815;
}

.text-hover-red-dark-2:hover {
  color: #cc2815;
}

.bg-red-dark-2 {
  background-color: #cc2815;
}

.text-red-dark-3 {
  color: #b32312;
}

.text-hover-red-dark-3:hover {
  color: #b32312;
}

.bg-red-dark-3 {
  background-color: #b32312;
}

.text-red-dark-4 {
  color: #991e10;
}

.text-hover-red-dark-4:hover {
  color: #991e10;
}

.bg-red-dark-4 {
  background-color: #991e10;
}

.text-red-dark-5 {
  color: #80190d;
}

.text-hover-red-dark-5:hover {
  color: #80190d;
}

.bg-red-dark-5 {
  background-color: #80190d;
}

.text-red-dark-6 {
  color: #66140a;
}

.text-hover-red-dark-6:hover {
  color: #66140a;
}

.bg-red-dark-6 {
  background-color: #66140a;
}

.text-red-dark-7 {
  color: #4d0f08;
}

.text-hover-red-dark-7:hover {
  color: #4d0f08;
}

.bg-red-dark-7 {
  background-color: #4d0f08;
}

.text-red-dark-8 {
  color: #330a05;
}

.text-hover-red-dark-8:hover {
  color: #330a05;
}

.bg-red-dark-8 {
  background-color: #330a05;
}

.text-red-dark-9 {
  color: #1a0503;
}

.text-hover-red-dark-9:hover {
  color: #1a0503;
}

.bg-red-dark-9 {
  background-color: #1a0503;
}

.text-orange {
  color: #ff901b;
}

.text-hover-orange:hover {
  color: #ff901b;
}

.bg-orange {
  background-color: #ff901b;
}

.text-orange-light-1 {
  color: #ff9b32;
}

.text-hover-orange-light-1:hover {
  color: #ff9b32;
}

.bg-orange-light-1 {
  background-color: #ff9b32;
}

.text-orange-light-2 {
  color: #ffa649;
}

.text-hover-orange-light-2:hover {
  color: #ffa649;
}

.bg-orange-light-2 {
  background-color: #ffa649;
}

.text-orange-light-3 {
  color: #ffb15f;
}

.text-hover-orange-light-3:hover {
  color: #ffb15f;
}

.bg-orange-light-3 {
  background-color: #ffb15f;
}

.text-orange-light-4 {
  color: #ffbc76;
}

.text-hover-orange-light-4:hover {
  color: #ffbc76;
}

.bg-orange-light-4 {
  background-color: #ffbc76;
}

.text-orange-light-5 {
  color: #ffc88d;
}

.text-hover-orange-light-5:hover {
  color: #ffc88d;
}

.bg-orange-light-5 {
  background-color: #ffc88d;
}

.text-orange-light-6 {
  color: #ffd3a4;
}

.text-hover-orange-light-6:hover {
  color: #ffd3a4;
}

.bg-orange-light-6 {
  background-color: #ffd3a4;
}

.text-orange-light-7 {
  color: #ffdebb;
}

.text-hover-orange-light-7:hover {
  color: #ffdebb;
}

.bg-orange-light-7 {
  background-color: #ffdebb;
}

.text-orange-light-8 {
  color: #ffe9d1;
}

.text-hover-orange-light-8:hover {
  color: #ffe9d1;
}

.bg-orange-light-8 {
  background-color: #ffe9d1;
}

.text-orange-light-9 {
  color: #fff4e8;
}

.text-hover-orange-light-9:hover {
  color: #fff4e8;
}

.bg-orange-light-9 {
  background-color: #fff4e8;
}

.text-orange-dark-1 {
  color: #e68218;
}

.text-hover-orange-dark-1:hover {
  color: #e68218;
}

.bg-orange-dark-1 {
  background-color: #e68218;
}

.text-orange-dark-2 {
  color: #cc7316;
}

.text-hover-orange-dark-2:hover {
  color: #cc7316;
}

.bg-orange-dark-2 {
  background-color: #cc7316;
}

.text-orange-dark-3 {
  color: #b36513;
}

.text-hover-orange-dark-3:hover {
  color: #b36513;
}

.bg-orange-dark-3 {
  background-color: #b36513;
}

.text-orange-dark-4 {
  color: #995610;
}

.text-hover-orange-dark-4:hover {
  color: #995610;
}

.bg-orange-dark-4 {
  background-color: #995610;
}

.text-orange-dark-5 {
  color: #80480e;
}

.text-hover-orange-dark-5:hover {
  color: #80480e;
}

.bg-orange-dark-5 {
  background-color: #80480e;
}

.text-orange-dark-6 {
  color: #663a0b;
}

.text-hover-orange-dark-6:hover {
  color: #663a0b;
}

.bg-orange-dark-6 {
  background-color: #663a0b;
}

.text-orange-dark-7 {
  color: #4d2b08;
}

.text-hover-orange-dark-7:hover {
  color: #4d2b08;
}

.bg-orange-dark-7 {
  background-color: #4d2b08;
}

.text-orange-dark-8 {
  color: #331d05;
}

.text-hover-orange-dark-8:hover {
  color: #331d05;
}

.bg-orange-dark-8 {
  background-color: #331d05;
}

.text-orange-dark-9 {
  color: #1a0e03;
}

.text-hover-orange-dark-9:hover {
  color: #1a0e03;
}

.bg-orange-dark-9 {
  background-color: #1a0e03;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.navbar .container, .navbar-orange .container, .navbar-red .container, .navbar-white .container, .navbar-black .container, .navbar-navy .container, .navbar-blue .container, .navbar-pink .container, .navbar-purple .container, .navbar-lightblue .container, .navbar, .navbar-orange, .navbar-red, .navbar-white, .navbar-black, .navbar-navy, .navbar-blue, .navbar-pink, .navbar-purple, .navbar-lightblue {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-orange, .navbar-red, .navbar-white, .navbar-black, .navbar-navy, .navbar-blue, .navbar-pink, .navbar-purple, .navbar-lightblue {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-orange .site-title, .navbar-red .site-title, .navbar-white .site-title, .navbar-black .site-title, .navbar-navy .site-title, .navbar-blue .site-title, .navbar-pink .site-title, .navbar-purple .site-title, .navbar-lightblue .site-title {
  font-size: 1.5rem;
}
.navbar-lightblue {
  background-color: #0abdc6;
}

.navbar-purple {
  background-color: #711c91;
}

.navbar-pink {
  background-color: #ea00d9;
}

.navbar-blue {
  background-color: #133e7c;
}

.navbar-navy {
  background-color: #091833;
}

.navbar-black {
  background-color: black;
}

.navbar-white {
  background-color: white;
}

.navbar-red {
  background-color: #ff321a;
}

.navbar-orange {
  background-color: #ff901b;
}

.side-bar {
  height: 100%;
  width: 7em;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 2em;
  overflow-x: hidden;
  background-color: yellow;
}
.side-bar a {
  padding: 0.5em 0.5em 0.5em 2em;
  text-decoration: none;
  display: block;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-lightblue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #0abdc6;
}
.btn-lightblue:hover {
  background-color: #0bd4de;
}

.btn-outlined-lightblue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #0abdc6;
}
.btn-outlined-lightblue:hover {
  background-color: #0bd4de;
}

.btn-complement-lightblue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #0abdc6;
  color: #f87871;
}
.btn-complement-lightblue:hover {
  color: #0abdc6;
  background-color: #f87871;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #711c91;
}
.btn-purple:hover {
  background-color: #8220a6;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #711c91;
}
.btn-outlined-purple:hover {
  background-color: #8220a6;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #711c91;
  color: #87e165;
}
.btn-complement-purple:hover {
  color: #711c91;
  background-color: #87e165;
}

.btn-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ea00d9;
}
.btn-pink:hover {
  background-color: #ff05ed;
}

.btn-outlined-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ea00d9;
}
.btn-outlined-pink:hover {
  background-color: #ff05ed;
}

.btn-complement-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ea00d9;
  color: #84ff8d;
}
.btn-complement-pink:hover {
  color: #ea00d9;
  background-color: #84ff8d;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #133e7c;
}
.btn-blue:hover {
  background-color: #164992;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #133e7c;
}
.btn-outlined-blue:hover {
  background-color: #164992;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #133e7c;
  color: #e3a245;
}
.btn-complement-blue:hover {
  color: #133e7c;
  background-color: #e3a245;
}

.btn-navy {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #091833;
}
.btn-navy:hover {
  background-color: #0d2249;
}

.btn-outlined-navy {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #091833;
}
.btn-outlined-navy:hover {
  background-color: #0d2249;
}

.btn-complement-navy {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #091833;
  color: #b58020;
}
.btn-complement-navy:hover {
  color: #091833;
  background-color: #b58020;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: #0d0d0d;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff321a;
}
.btn-red:hover {
  background-color: #ff4934;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ff321a;
}
.btn-outlined-red:hover {
  background-color: #ff4934;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff321a;
  color: #b3f7ff;
}
.btn-complement-red:hover {
  color: #ff321a;
  background-color: #b3f7ff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff901b;
}
.btn-orange:hover {
  background-color: #ff9c35;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ff901b;
}
.btn-outlined-orange:hover {
  background-color: #ff9c35;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff901b;
  color: #b4d9ff;
}
.btn-complement-orange:hover {
  color: #ff901b;
  background-color: #b4d9ff;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.m-0 {
  marign: 0;
}

.m-1 {
  marign: 0.75rem;
}

.m-2 {
  marign: 1.5rem;
}

.ml-0 {
  marign-left: 0;
}

.ml-1 {
  marign-left: 0.75rem;
}

.ml-2 {
  marign-left: 1.5rem;
}

.mr-0 {
  marign-right: 0;
}

.mr-1 {
  marign-right: 0.75rem;
}

.mr-2 {
  marign-right: 1.5rem;
}

.mt-0 {
  marign-top: 0;
}

.mt-1 {
  marign-top: 0.75rem;
}

.mt-2 {
  marign-top: 1.5rem;
}

.mb-0 {
  marign-bottom: 0;
}

.mb-1 {
  marign-bottom: 0.75rem;
}

.mb-2 {
  marign-bottom: 1.5rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}