* {
  color: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  paddign: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-lightblue {
  color: #0abdc6;
}

.text-hover-lightblue:hover {
  color: #0abdc6;
}

.bg-lightblue {
  background-color: #0abdc6;
}

.text-purple {
  color: #711c91;
}

.text-hover-purple:hover {
  color: #711c91;
}

.bg-purple {
  background-color: #711c91;
}

.text-pink {
  color: #ea00d9;
}

.text-hover-pink:hover {
  color: #ea00d9;
}

.bg-pink {
  background-color: #ea00d9;
}

.text-blue {
  color: #133e7c;
}

.text-hover-blue:hover {
  color: #133e7c;
}

.bg-blue {
  background-color: #133e7c;
}

.text-navy {
  color: #091833;
}

.text-hover-navy:hover {
  color: #091833;
}

.bg-navy {
  background-color: #091833;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-red {
  color: #ff321a;
}

.text-hover-red:hover {
  color: #ff321a;
}

.bg-red {
  background-color: #ff321a;
}

.text-orange {
  color: #ff901b;
}

.text-hover-orange:hover {
  color: #ff901b;
}

.bg-orange {
  background-color: #ff901b;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #133e7c;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.navbar-x .container, .navbar-x-orange .container, .navbar-x-red .container, .navbar-x-white .container, .navbar-x-black .container, .navbar-x-navy .container, .navbar-x-blue .container, .navbar-x-pink .container, .navbar-x-purple .container, .navbar-x-lightblue .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar-y, .navbar-y-orange, .navbar-y-red, .navbar-y-white, .navbar-y-black, .navbar-y-navy, .navbar-y-blue, .navbar-y-pink, .navbar-y-purple, .navbar-y-lightblue, .navbar-x, .navbar-x-orange, .navbar-x-red, .navbar-x-white, .navbar-x-black, .navbar-x-navy, .navbar-x-blue, .navbar-x-pink, .navbar-x-purple, .navbar-x-lightblue {
  margin: 0;
  z-index: 5;
}

.navbar-x, .navbar-x-orange, .navbar-x-red, .navbar-x-white, .navbar-x-black, .navbar-x-navy, .navbar-x-blue, .navbar-x-pink, .navbar-x-purple, .navbar-x-lightblue {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.navbar-x .site-title, .navbar-x-orange .site-title, .navbar-x-red .site-title, .navbar-x-white .site-title, .navbar-x-black .site-title, .navbar-x-navy .site-title, .navbar-x-blue .site-title, .navbar-x-pink .site-title, .navbar-x-purple .site-title, .navbar-x-lightblue .site-title {
  font-size: 1.5rem;
}
.navbar-x .navbar-x-item, .navbar-x-orange .navbar-x-item, .navbar-x-red .navbar-x-item, .navbar-x-white .navbar-x-item, .navbar-x-black .navbar-x-item, .navbar-x-navy .navbar-x-item, .navbar-x-blue .navbar-x-item, .navbar-x-pink .navbar-x-item, .navbar-x-purple .navbar-x-item, .navbar-x-lightblue .navbar-x-item {
  padding: 2vw 1vh;
}
.navbar-x .navbar-x-item:hover, .navbar-x-orange .navbar-x-item:hover, .navbar-x-red .navbar-x-item:hover, .navbar-x-white .navbar-x-item:hover, .navbar-x-black .navbar-x-item:hover, .navbar-x-navy .navbar-x-item:hover, .navbar-x-blue .navbar-x-item:hover, .navbar-x-pink .navbar-x-item:hover, .navbar-x-purple .navbar-x-item:hover, .navbar-x-lightblue .navbar-x-item:hover {
  background-color: #0abdc6;
  box-shadow: 0 0 20px 10px #0abdc6;
}

.navbar-y, .navbar-y-orange, .navbar-y-red, .navbar-y-white, .navbar-y-black, .navbar-y-navy, .navbar-y-blue, .navbar-y-pink, .navbar-y-purple, .navbar-y-lightblue {
  padding: 0.75rem;
  width: 100px;
  height: 100%;
  display: block;
}
.navbar-y .navbar-y-item, .navbar-y-orange .navbar-y-item, .navbar-y-red .navbar-y-item, .navbar-y-white .navbar-y-item, .navbar-y-black .navbar-y-item, .navbar-y-navy .navbar-y-item, .navbar-y-blue .navbar-y-item, .navbar-y-pink .navbar-y-item, .navbar-y-purple .navbar-y-item, .navbar-y-lightblue .navbar-y-item {
  padding: 0;
}
.navbar-y .navbar-y-item:hover, .navbar-y-orange .navbar-y-item:hover, .navbar-y-red .navbar-y-item:hover, .navbar-y-white .navbar-y-item:hover, .navbar-y-black .navbar-y-item:hover, .navbar-y-navy .navbar-y-item:hover, .navbar-y-blue .navbar-y-item:hover, .navbar-y-pink .navbar-y-item:hover, .navbar-y-purple .navbar-y-item:hover, .navbar-y-lightblue .navbar-y-item:hover {
  background-color: #0abdc6;
  box-shadow: 0 0 10px 10px #0abdc6;
}

.navbar-x-lightblue {
  background-color: #0abdc6;
}

.navbar-y-lightblue {
  background-color: #0abdc6;
}

.navbox-lightblue {
  background-color: #0abdc6;
}

.navbar-x-purple {
  background-color: #711c91;
}

.navbar-y-purple {
  background-color: #711c91;
}

.navbox-purple {
  background-color: #711c91;
}

.navbar-x-pink {
  background-color: #ea00d9;
}

.navbar-y-pink {
  background-color: #ea00d9;
}

.navbox-pink {
  background-color: #ea00d9;
}

.navbar-x-blue {
  background-color: #133e7c;
}

.navbar-y-blue {
  background-color: #133e7c;
}

.navbox-blue {
  background-color: #133e7c;
}

.navbar-x-navy {
  background-color: #091833;
}

.navbar-y-navy {
  background-color: #091833;
}

.navbox-navy {
  background-color: #091833;
}

.navbar-x-black {
  background-color: black;
}

.navbar-y-black {
  background-color: black;
}

.navbox-black {
  background-color: black;
}

.navbar-x-white {
  background-color: white;
}

.navbar-y-white {
  background-color: white;
}

.navbox-white {
  background-color: white;
}

.navbar-x-red {
  background-color: #ff321a;
}

.navbar-y-red {
  background-color: #ff321a;
}

.navbox-red {
  background-color: #ff321a;
}

.navbar-x-orange {
  background-color: #ff901b;
}

.navbar-y-orange {
  background-color: #ff901b;
}

.navbox-orange {
  background-color: #ff901b;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-lightblue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #0abdc6;
}
.btn-lightblue:hover {
  background-color: #0bd4de;
}

.btn-outlined-lightblue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #0abdc6;
}
.btn-outlined-lightblue:hover {
  background-color: #0bd4de;
}

.btn-complement-lightblue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #0abdc6;
  color: #f87871;
}
.btn-complement-lightblue:hover {
  color: #0abdc6;
  background-color: #f87871;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #711c91;
}
.btn-purple:hover {
  background-color: #8220a6;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #711c91;
}
.btn-outlined-purple:hover {
  background-color: #8220a6;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #711c91;
  color: #87e165;
}
.btn-complement-purple:hover {
  color: #711c91;
  background-color: #87e165;
}

.btn-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ea00d9;
}
.btn-pink:hover {
  background-color: #ff05ed;
}

.btn-outlined-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ea00d9;
}
.btn-outlined-pink:hover {
  background-color: #ff05ed;
}

.btn-complement-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ea00d9;
  color: #84ff8d;
}
.btn-complement-pink:hover {
  color: #ea00d9;
  background-color: #84ff8d;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #133e7c;
}
.btn-blue:hover {
  background-color: #164992;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #133e7c;
}
.btn-outlined-blue:hover {
  background-color: #164992;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #133e7c;
  color: #e3a245;
}
.btn-complement-blue:hover {
  color: #133e7c;
  background-color: #e3a245;
}

.btn-navy {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #091833;
}
.btn-navy:hover {
  background-color: #0d2249;
}

.btn-outlined-navy {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #091833;
}
.btn-outlined-navy:hover {
  background-color: #0d2249;
}

.btn-complement-navy {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #091833;
  color: #b58020;
}
.btn-complement-navy:hover {
  color: #091833;
  background-color: #b58020;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid black;
}
.btn-outlined-black:hover {
  background-color: #0d0d0d;
}

.btn-complement-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff321a;
}
.btn-red:hover {
  background-color: #ff4934;
}

.btn-outlined-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ff321a;
}
.btn-outlined-red:hover {
  background-color: #ff4934;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff321a;
  color: #b3f7ff;
}
.btn-complement-red:hover {
  color: #ff321a;
  background-color: #b3f7ff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff901b;
}
.btn-orange:hover {
  background-color: #ff9c35;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ff901b;
}
.btn-outlined-orange:hover {
  background-color: #ff9c35;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff901b;
  color: #b4d9ff;
}
.btn-complement-orange:hover {
  color: #ff901b;
  background-color: #b4d9ff;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.m-0 {
  marign: 0;
}

.m-1 {
  marign: 0.75rem;
}

.m-2 {
  marign: 1.5rem;
}

.ml-0 {
  marign-left: 0;
}

.ml-1 {
  marign-left: 0.75rem;
}

.ml-2 {
  marign-left: 1.5rem;
}

.mr-0 {
  marign-right: 0;
}

.mr-1 {
  marign-right: 0.75rem;
}

.mr-2 {
  marign-right: 1.5rem;
}

.mt-0 {
  marign-top: 0;
}

.mt-1 {
  marign-top: 0.75rem;
}

.mt-2 {
  marign-top: 1.5rem;
}

.mb-0 {
  marign-bottom: 0;
}

.mb-1 {
  marign-bottom: 0.75rem;
}

.mb-2 {
  marign-bottom: 1.5rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}